@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.header {
  background: rgb(20, 70, 103);
  background: linear-gradient(
    90deg,
    rgb(235, 138, 11) 0%,
    rgb(204, 146, 40) 42%,
    rgb(177, 132, 37) 85%
  );
  padding: 50px;
  margin-top: 20px;
  border-radius: 10px;
  color: #fff;
}

.header h1 {
  font-size: 54px;
  font-weight: bold;
}

.header p {
  font-size: 26px;
}

.catalog-title {
  color: #b49c4c;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.film-card {
  width: 420px;
  min-width: 400px;
  margin-bottom: 30px;
  box-shadow: 8px 8px 24px 0px rgb(204, 152, 54);
}

.footer {
  background-color: #dbaf37;
  color: rgb(255, 255, 255);
  padding: 50px;
  margin-top: 40px;
}

.movie-img {
  width: 420px;
  height: 500px;
}

.loader {
  min-height: 450px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader__container {
  text-align: center;
}

.loader__container h6 {
  margin-top: 30px;
}

.notfound {
  min-height: 450px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
